/* Text colors */
$common-text-color: #cdcfc2;
$common-text-color-dark: #aaaca1;
$common-text-color-darker: #8c8d84;
$common-text-color-light: #e4e6dd;

$common-accent-color: #c47a26;
$common-accent-color-dark: #995b14;
$common-accent-color-darker: #7e480b;
$common-accent-color-light: #e2953e;
$common-accent-color-lighter: #f3a954;

$common-alt-color: #1f8eb9;
$common-alt-color-dark: #136f94;
$common-alt-color-darker: #0f5069;
$common-alt-color-light: #31a0cc;
$common-alt-color-lighter: #44bdec;


/* Solid colors */

$common-background-color: #2c3e50;
$common-background-color-dark: #1e2e3d;
$common-background-color-darkmid: #192735;
$common-background-color-darker: #101d29;
$common-background-color-light: #40576d;
$common-background-color-lighter: #5e778f;

/* Media query sizes */

$mobile: 70em;
$desktop-small: 100em;

$input-width-desktop: 400px;

$font-family: 'Avenir', Helvetica, Arial, sans-serif;
$common-font-size: 16px;
$common-font-line-height: 1.5em;
$common-font-line-height-h1: 1em;
$common-font-line-height-h2: 1em;

/* Site-wide CSS */

.full-height {
    height: 100%;
}

.page-full-height {
    min-height: 100vh;
    @media (min-width: $mobile) {
        height: 100%;
    }
}

.flex-item {
    flex: 1;
}

.flex-item-2 {
    flex: 2;
}

.flex-item-3 {
    flex: 3;
}

.flex-item-4 {
    flex: 4;
}

.flex-item-desktop {
    min-height: 700px;
    @media (min-width: $mobile) {
        flex: 1;
        min-height: auto;
    }
}

.flex-container {
    display: flex;
}

// Flex container that is row-direction in desktop
// and column-direction in mobile
.flex-container-desktop {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    @media (min-width: $mobile) {
        flex-direction: row;
    }
}

// Flex container that is column-direction in desktop
// and row-direction in mobile
.flex-container-mobile {
    display: flex;
    flex-direction: row;
    @media (min-width: $mobile) {
        flex-direction: column;
        overflow-y: auto;
    }
}

.flex-container-vertical {
    display: flex;
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.flex-align-stretch {
    align-items: stretch;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-around {
    justify-content: space-around;
}

.centered {
    display: flex;
    justify-content: center;
}

body, html {
    margin: 0;
    height: 100%;
}

#app {
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $common-font-size;
    line-height: $common-font-line-height;
    color: $common-text-color;
    background-color: $common-background-color;
}

h1 {
    line-height: $common-font-line-height-h1;
}

h2 {
    line-height: $common-font-line-height-h2;
}

/* Page content styling */

.content-wrapper {
    width: 100%;

    @media (min-width: $desktop-small) {
        align-items: center;
    }
}

.content {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;

    @media (min-width: $mobile) {
        padding-left: 5em;
        padding-right: 5em;
    }
    
    @media (min-width: $desktop-small) {
        padding-left: 0;
        padding-right: 0;
        max-width: calc(#{$desktop-small} - 10em);
        min-width: calc(#{$desktop-small} - 10em);
        display: flex;
    }
}

.content-divider {
    margin: 0.5em;
    border-top: 2px solid $common-accent-color-dark;
}

.content-divider-long {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border-top: 2px solid $common-accent-color-dark;
}

.content-divider-large {
    margin: 1.5em;
    border-top: 2px solid $common-accent-color-dark;
}

.content-divider-vertical {
    margin: 0.5em;
    border-left: 2px solid $common-accent-color-dark;
}

.content-divider-vertical-large {
    margin: 1.5em;
    border-left: 2px solid $common-accent-color-dark;
}

.ui-container {
    background-color: $common-background-color-dark;
    margin: 0.6em;
    h1, h2, h3, h4 {
        margin: 0;
    }
}

.ui-container-header {
    background-color: $common-background-color-darker;
    padding: 0.6em;
}

.ui-container-header .alt-label {
    color: $common-accent-color;
    font-size: 24px;
    margin-right: 0.2em;
}

.ui-container-content {
    padding: 0.6em;
}

.spinner-container {
    position: relative;
}

.twitch-badge {
    height: 24px;
    width: 24px;
    margin-left: 10px;
    background-color: white;

    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.host-badge {
    height: 32px;
    width: 32px;

    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

/* Custom input fields */

button {
    padding: 0;
    border: 2px solid $common-alt-color-dark;
    background-color: $common-background-color-dark;
    color: $common-alt-color-light;
    font-size: 30px;

    // Removes ugly blue border
    &:focus {
        outline: 0;
    }

    &:active {
        background-color: $common-background-color-dark;
    }

    &:hover:not(:active) {
        background-color: $common-background-color-light;
    }

    &.custom-button {
        height: 2.2em;
    }
    
    &.wide-button {
        width: 100%;
    }

    &.half-button {
        width: 50%;
    }

    &.small-button {
        //height: 1.5em;
        font-size: 20px;
        padding: 0.5em;
    }

    &.constant-button {
        width: 100%;
        @media (min-width: $mobile) {
            width: $input-width-desktop;
        }
    }
}

input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
}

input[type="text"], textarea {
    border: 1px solid $common-text-color-darker;
    background-color: $common-background-color-dark;
    color: $common-text-color;

    &.large-centered-input {
        font-size: 30px;
        height: 2em;
        margin-bottom: 10px;
        text-align: center;
    }

    &:focus {
        outline: 1px dotted $common-accent-color;
    }

    &.wide-input {
        width: 100%;
    }

    &.half-input {
        width: 50%;
    }

    &.constant-input {
        width: 100%;
        @media (min-width: $mobile) {
            width: $input-width-desktop;
        }
    }
}

/* Stylized SWAL2 (sweetalert2) */

.swal2-container {
    .swal2-popup {
        font-family: $font-family;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: $common-font-size;
    
        background-color: $common-background-color-light;
    }
    
    .swal2-popup .swal2-title,
    .swal2-popup .swal2-content {
        color: $common-text-color-light;
    }    
}

/* Small fixes to cookie-law */
.Cookie.Cookie--blood-orange {
    color: $common-text-color;
    background-color: $common-background-color-dark;

    & .Cookie__button {
        white-space: nowrap;
        background-color: $common-alt-color-dark;
    }

    & .Cookie__button:hover {
        white-space: nowrap;
        background-color: $common-alt-color;
    }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/* Perfect scrollbar custom style (Remove ugly background) */
#app {
    .ps:hover>.ps__scrollbar-y-rail:hover {
        background-color: rgba(0,0,0,0);
        //opacity: 0;
    
        &>.ps__scrollbar-y {
            width: 6px;
        }
    }
    
    .ps:hover.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail,
    .ps.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail {
        background-color: rgba(0,0,0,0);
    
        &>.ps__scrollbar-y {
            width: 6px;
        }
    }
}
